name: Package
on:
  push:
    branches: main
    paths: 
      - Package.swift
      - Package.resolved
      - .github/workflows/package.yml
jobs:
  resolve-package:
    name: Resolve package
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: .build
          key: ${{ runner.os }}-swift-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-swift
            ${{ runner.os }}-
      - name: Fetch Xcode version
        id: xcode-version
        run: |
          xcode_version=$(cat .github/matrix.json | jq -rc '.xcode_version')
          echo "xcode-version=$xcode_version" >> $GITHUB_OUTPUT
      - name: Resolve dependencies
        id: resolve
        env:
          DEVELOPER_DIR: /Applications/Xcode_${{ steps.xcode-version.outputs.xcode-version }}.app/Contents/Developer
        run: |
          if [[ "$(cat Package.swift | grep 'var isDevelop =' | awk '{ print $NF }')" = true ]]; then
            swift package resolve
          fi
          echo "count=$(git diff --name-only | grep -E '^Package.resolved$' | wc -l)" >> $GITHUB_OUTPUT
      - name: Commit Package.resolved
        if: steps.resolve.outputs.count > 0
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -m "Update Package.resolved" Package.resolved
          git push -f
      - name: Create Pull Request if failed
        if: ${{ steps.resolve.outputs.count > 0 && failure() }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git checkout -b 'auto/update-package-resolved'
          git push -fu origin 'auto/update-package-resolved'
          gh pr create -t 'Update Package.resolved' -b 'Generated by GitHub Actions'
